body {
    box-sizing: border-box;
    background: #f1f1f1;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Saira Semi Condensed', sans-serif;
    color:#ff6075;
    font-size: 20px;
    margin: 0;
  }
  
  h1 {
    margin: 60px 60px 0 60px;
    font-size: 30px; 
    padding-bottom: 30px;
    border-bottom: 1px solid #969696;
    color: #ff6075;
  }
  
  h1, h2 {
    text-align: center;
    font-weight: bold;
    letter-spacing: 10px;
    text-transform: uppercase;
  }

  .odd-logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
  
  h2 {
    font-size: 20px;
  }
  
  button {
    margin-top: 20px;
    width: 300px;
    height: 40px;
    background: #f1f1f1;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    color: #000000;
    border: .5px solid #ff6075;
  }
  
  .start-quiz {
    width: 500px;
    height: 300px;
    margin: 100px auto;
    text-align: center;
    padding-bottom: 200px;
    color: #b5b5b7;
  }
  
  .questions, .end-quiz {
    display: none;
    text-align: center;
    padding-bottom: 200px;
    margin: 100px auto 0 auto;
    text-align: center;
    width: 500px;
    height: 300px;
  }
  
  .end-quiz {
    border: 2px solid #ff6075;
    padding-top: 80px;
    height: 100px;
    font-size: 30px;
    color: #000000;
  }
  
  .question-number, .score {
    font-size: 30px;
    color: #000000;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    border: 1px solid #000000;
    width: 200px;
    margin: 10px auto;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px;
  }
    
  .selected {
    background: #1ca4ff;
    color:#252839;
  }
  
  .correct {
    background-color: rgb(53, 255, 53);
  }
  
  .incorrect {
    background-color: red;
  }
  
  .start-button:hover {
  background: #ff6075;
  cursor: crosshair;
  transition-duration: 0.4s;
  }
  
  .submit-button:hover {
    cursor: crosshair;
    background: #ff6075;
    transition-duration: 0.4s;
  }
  .next-button:hover {
    cursor: crosshair;
    background: #ff6075;
    transition-duration: 0.4s;
  }
  
  .retake-button:hover {
    cursor: crosshair;
    background: #ff6075;
    transition-duration: 0.4s;
  }
  
  .descrip {
    color: black;
  }
  
  li:hover {
    cursor: crosshair;
    background: #1ca4ff;
    transition-duration: 0.4s;
  }
  
  
  @media (min-width: 320px) and (max-width: 480px) {
    h1 {
      margin-left: 183px;
    }
    
  }
  